<!DOCTYPE html>
<html>
<head>
  <title>Chelsea Gallery Nights</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar-inner">
    <div class="container">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
      <%= render :partial => 'layouts/nav' %>


    </div>
  </nav>


<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
